@import "tailwindcss";

@theme inline {
  --font-jost: var(--font-jost);
  --color-Peach: #E7816B;
  --color-Light-Peach: #FFAD9B;
  --color-Black: #1D1C1E;
  --color-Dark-Grey: #333136;
  --color-Light-Grey: #F1F3F5;
  --breakpoint-xs: 500px;
}

body {
  font-family: var(--font-jost);
}
